html {
  font: 15px arial, sans-serif;
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  margin: auto;
}

pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}

.whiteH1{
  margin-bottom: 100px;
}